<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <display-name>SendRequestServlet</display-name>
    <servlet-name>SendRequestServlet</servlet-name>
    <servlet-class>SendRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendRequestServlet</servlet-name>
    <url-pattern>/sendRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateLocation</display-name>
    <servlet-name>UpdateLocation</servlet-name>
    <servlet-class>UpdateLocation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateLocation</servlet-name>
    <url-pattern>/UpdateLocation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkIfBanned</display-name>
    <servlet-name>checkIfBanned</servlet-name>
    <servlet-class>checkIfBanned</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkIfBanned</servlet-name>
    <url-pattern>/checkIfBanned</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BanUser</display-name>
    <servlet-name>BanUser</servlet-name>
    <servlet-class>BanUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BanUser</servlet-name>
    <url-pattern>/BanUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewUser</display-name>
    <servlet-name>AddNewUser</servlet-name>
    <servlet-class>AddNewUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewUser</servlet-name>
    <url-pattern>/AddNewUser</url-pattern>
  </servlet-mapping>
</web-app>